<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show one mongoose</title>
    <script src="/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">

      <h1>We're at show one of the mongoose dashboard!</h1>
    </div>
  </body>
</html>
